      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="well">
              <div class="starter-template">
                <h1>About</h1>
                <p class="lead">Hi All, i am Thami Bouchnafa <span>{{ date.getFullYear()-1990 }}</span> years old, Software developer at 1&1 Internet SE <br>
                  have fun here!</p>
                <div><gravatar-image email="thami.bouchnafa@gmail.com"></gravatar-image></div>
                <p>This is a web application that will provide some services like for example the first one a "Youtube Downloader/Mp3 Converter"</p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.container -->
